<div class="container content">
    <h2></h2>
   
   
    <div class="alert alert-success" role="alert">
      ActiveSG is an all-encompassing and inclusive national movement for sport, brought to you by Sport Singapore. Poised to be a lifestyle destination for Singaporeans, ActiveSG will offer individuals, families and communities ample opportunities to experience and share the joy of living better through sport.

      Come join our national movement for sports and get active with a diverse and exciting line-up of sporting activities suited for all! Our sport facilities which are conveniently located all over Singapore are open to all! You can also sign up for ActiveSG membership registration to enjoy further privileges. Membership registration is free for all Singaporeans and Singapore Permanent Residents!
    </div>

</div>

